.navbar-tutormatch {
  justify-content: space-between;
  background: $tm-purple;
}

.navbar-tutormatch .navbar-collapse {
  flex-grow: 0;
}

.navbar-tutormatch .navbar-brand img {
  width: 180px;
}
.navbar-brand {
  padding-top: 0 !important;
}
.nav-link {
  color: white !important;
}
